body {
  width: 100vw;
  margin: auto;
  text-align: center;
  background: white;
  font-family: "Tahoma", "Geneva", sans-serif;
}

.header-wrapper {
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: whitesmoke;
}

.header {
  margin: auto;
  display: flex;
}

.header-image {
  padding: 0;
  display: inline-block;
}

.header-logo {
  transform: translate(0, 8px);
  width: 97px;
}

.header-text {
  vertical-align: middle;
  display: inline-block;
  padding-left: 10px;
  text-shadow:
    -1px -1px 0 whitesmoke,
    1px -1px 0 whitesmoke,
    -1px 1px 0 whitesmoke,
    1px 1px 0 whitesmoke;  
}

h1 {
  margin: auto;
  display: inline-block;
}

.new {
  color: #006b97;
}

.header-line {
  border: 0;
  border-top: 1px solid #78c6ed;
}

.century {
  color: #006b97;
}

.wellness-group {
  font-size: 30px;
  color: #006b97;
}

.user-choice {
  display: inline-block;
  margin: 10px;
  width: 300px;
  height: 300px;
  font-size: 60px;
  color: white;
  background-color: #006b97;
  border: 2px solid whitesmoke;
  cursor: pointer;
}

.user-choice:hover {
  background-color: #78c6ed;
}

.service-choice {
  display: inline-block;
  margin: 10px;
  width: 200px;
  height: 200px;
  font-size: 20px;
  color: white;
  background-color: #006b97;
  border: 2px solid whitesmoke;
  cursor: pointer;
}

.service-choice:hover {
  background-color: #78c6ed;
}

input {
  padding: 5px;
  font-size: 14px;
}

input.password {
  margin-left: 5px;
}

.login-button {
  font-size: 16px;
  color: white;
  background-color: #006b97;
  padding: 5px 10px 5px 10px;
  border: 2px solid whitesmoke;
}

.login-button:hover {
  background-color: #78c6ed;
  cursor: pointer;
}

/* Portal Styles */

.body-wrapper {
  width: 100vw;
}

.menu-wrapper {
  width: 100vw;
  height: 47px;
  background-color: #006b97;
}

/* Add a black background color to the top navigation */
.topnav {
  transform: translate(0, -47px);
  margin: auto;
  display: inline-block;
  padding: 14px 20px;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  color: whitesmoke;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  font-size: 16px;
  margin-right:-5px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: whitesmoke;
  color: #006b97;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #78c6ed;
  color: whitesmoke;
}

.search-container input[type=text] {
  margin-left: -8px;
  float: left;
  padding: 6px;
  font-size: 16px;
  border: 1px solid #ccc;
  text-indent: 25px;
}

#search-icon {
  float: left;
  opacity: .5;
  transform: translate(17px, 8px);
}

.new-patient-button-container {
  margin-top: -3px;
  display: inline-block;
  float: right;
}

.new-patient-button {
  font-size: 30px;
  color: #006b97;
  background: none;
  border: none;
}

.new-patient-button:hover {
  color: #78c6ed;
  cursor: pointer;
}

.patient-table {
  margin: auto;
  width: 100%;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

.patient-table thead {
  background-color: #006b97;
  color: whitesmoke;
}

.patient-table tbody {
  background-color: whitesmoke;
  color: black;
}

.patient-table tbody tr:hover {
  background-color: lightgray;
  cursor: pointer;
}

.patient-table td {
  padding: 8px;
  border-bottom: 1px solid #006b97;
  width: 20%;
}

.back-button-container {
  display: inline-block;
  float: left;
}

.back-button {
  margin-top: 15px;
  font-size: 30px;
  color: #006b97;
  background: none;
  border: none;
}

.back-button:hover {
  color: #78c6ed;
  cursor: pointer;
}

.title-container {
  display: inline-block;
  margin: auto;
  transform: translate(-30px, 0);
}

.sub-title-container {
  display: inline-block;
  margin: auto;
  transform: translate(-70px, -19px);
}

.new-record-button-container {
  display: inline-block;
  float: right;
}

.new-record-button {
  margin-top: -2px;
  font-size: 30px;
  color: #006b97;
  background: none;
  border: none;
}

.new-record-button:hover {
  color: #78c6ed;
  cursor: pointer;
}

.table-container {
  margin: auto;
}

.patient-info {
  width: 100%;
  border: 2px solid black;
}

.patient-info thead {
  font-weight: bold;
  background-color: whitesmoke;
  border-bottom: 1px solid black;
}

.patient-info td {
  padding: 5px;
}

.save-record-button-container {
  display: inline-block;
  float: right;
}

.save-record-button {
  margin-top: 15px;
  font-size: 30px;
  color: #006b97;
  background: none;
  border: none;
}

.save-record-button:hover {
  color: #78c6ed;
  cursor: pointer;
}

.success-message {
  transform: translate(-10px, 0);
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -8px;
  width: 30%;
  padding: 5px;
  color: #78c6ed;
  font-weight: bold;
  font-style: italic;
  border: 2px solid #78c6ed;
}

.new-record-row {
  background-color: #78c6ed;
}

/* Style the tab */
.tab {
  overflow: hidden;
  background-color: #006b97;
}

/* Style the buttons inside the tab */
.tab button {
  margin: auto;
  margin-right: -5px;
  color: white;
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 16px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  color: #006b97;
  background-color: whitesmoke;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #78c6ed;
}

.tab button.active:hover {
  color: white;
  background-color: #78c6ed;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #006b97;
  border-top: none;
  background-color: whitesmoke;
}

.inner-tab-header {
  width: 25%;
  display: inline-block;
}

.inner-tab-content {
  width: 45%;
  display: inline-block;
}

/* The switch - the box around the slider */
.switch {
  margin-top: 5px;
  margin-bottom: 5px;
  position: relative;
  display: inline-block;
  width: 36px;
  height: 21px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: dodgerblue;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: violet;
}

input:checked + .slider:before {
  -webkit-transform: translateX(15px);
  -ms-transform: translateX(15px);
  transform: translateX(15px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 21px;
}

.slider.round:before {
  border-radius: 50%;
}

input[type=date] {
  height: 16px;
}

input[type=radio] {
  margin: 7px;
  height: 16px;
}

.radio {
  font-style: italic;
}

textarea {
  margin: 5px;
  font-size: 16px;
  border: 1px solid #ccc;
}